<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="Template.css">
  <script src="Fudge/FudgeCore.js"></script>
  <script src="FudgeStory/FudgeStory.js"></script>
  <script src="./Build/Template.js"></script>
  <title>Genesis: Prevent The Escape</title>
  <splash src="Images/Splash.jpg" />
</head>

<body>

  <scene>
    <canvas></canvas>

    <speech>
      <name class="name">
      </name>
      <content class="content">
      </content>
    </speech>

    <dialog type="text-page">
    </dialog>
    <dialog type="text" class="decision">
    </dialog>
    <dialog type="inventory" style="background-color: rgba(148, 79, 0, 0.9);">
      <button type="button">close</button>
      <ul>
      </ul>
    </dialog>

  </scene>
</body>

</html>